$accent-color: #4878a6;
$dark-accent-color: #2a5275;

$second-accent-color: #f37748;

$main-text-color: #070c11;
$second-text-color: #838688;

$main-bg-color: #ffffff;
$second-bg-color: #edf2f6;
$third-bg-color: #243c53;

$bg-btn-new: #48a69b;
$bg-btn-bestseller: #d73838;
$bg-btn-favorite: #f15152;
